.card{
    background: rgba(255, 255, 255, 0.501);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.field{
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}